/*
AvatarSelection
*/

.avatar-selection {
    -fx-padding: 60px 0px;
    -fx-min-width: 600;
    -fx-alignment: center;
}

.avatar-selection .title {
    -fx-min-width: 600;
    -fx-font-size: 48px;
    -fx-alignment: center;
}

.avatar-grid-pane {
    -fx-min-width: 600;
}

/*
ModuleListCard
*/
.module-panel-container {
    -fx-max-width: 380px;
    -fx-min-width: 380px;
}

.module-panel {
    -fx-background-color: #3a3a3a;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, #1d1d1d, 20, 0.2, 0, 10);
}

.module-card {
    -fx-max-width: 220px;
}

.module-card .title {
    -fx-font-weight: bold;
    -fx-font-size: 14px !important;
    -fx-text-fill: #fff;
}

.module-card .module-code {
    -fx-font-weight: bold;
    -fx-font-size: 14px !important;
    -fx-text-fill: #f27c36 !important;
}

.module-card-default {
     -fx-font-size: 12px !important;
     -fx-text-fill: #010504;
}

.vertical-divider {
     -fx-border-color: #3d3d3d;
}

.horizontal-divider-12 {
    -fx-pref-height: 12px;
}

.horizontal-divider-8 {
    -fx-pref-height: 8px;
}

/*
ProgressSidePanel
*/
.progress-side-panel {
    -fx-background-color: #3a3a3a;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, #1d1d1d, 20, 0.2, 0, 10);
    -fx-pref-height: 343px;
    -fx-pref-width: 300px;
    -fx-padding: 16px;
}

.progress-title {
    -fx-min-width: 100px;
    -fx-alignment: center-left;
}

.progress-rank {
    -fx-font-weight: bold;
    -fx-min-width: 160px;
    -fx-alignment: center-right;
}

.progress-bar {
    -fx-pref-width: 200px;
    -fx-accent: #f27c36;
}

.progress-side-panel .label {
    -fx-text-fill: #d1d1d1;
    -fx-font-size: 16;
}

.progress-label {
    -fx-padding: 0px 0px 0px 0px;
}

/*
StackPane default
*/
.stack-pane {
     -fx-background-color: #2d2d2d;
}

.stack-pane-with-border {
     -fx-background-color: #2a2a2a;
     -fx-border-color: transparent;
}

.stack-pane-with-border .text-area {
    color: #fff;
}

/*
StatusBar
*/
.status-bar {
    -fx-background-color: #2d2d2d;
}

.status-bar .label {
    -fx-font-size: 18pt;
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.course {
    -fx-font-size: 18px !important;
}

/*
ResultDisplay
*/
.result-display {
    -fx-padding: 0px 12px;
    -fx-background-color: #3a3a3a;
    -fx-background-radius: 20;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, #1d1d1d, 20, 0.2, 0, 10);
}

.result-display .text-area {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: white !important;
}

#resultDisplay .content {
    -fx-background-color: #3a3a3a;
    -fx-background-radius:0;
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

/*
HelpWindow
*/
.help-window {
    -fx-background-color: #2a2a2a;
}

.help-window .label {
    -fx-font-family: Calibri;
    -fx-font-weight: 100;
    -fx-font-size: 14;
    -fx-text-fill: white;
}

.help-window .button {
    -fx-border-color: transparent;
    -fx-background-radius: 20;
    -fx-background-color: #3d3d3d;
}

.help-window .button:pressed {
    -fx-border-color: transparent;
    -fx-background-radius: 20;
    -fx-background-color: #3d3d3d;
}

.help-window .hyperlink {
    -fx-font-family: Calibri;
    -fx-font-weight: 100;
    -fx-font-size: 14;
    -fx-border-color: transparent;
}

/*
CommandReceivedPanel
*/

.command-received-panel-container {
    -fx-background-color: #3a3a3a;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, #1d1d1d, 20, 0.2, 0, 10);
}

.command-received-box {
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-background-color: #2d2d2d;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-style: solid solid solid solid;
    -fx-border-color: #4d4d4d;
    -fx-text-fill: white;
    -fx-pref-height: 54px;
}

#commandReceived .content {
    -fx-background-color: #2a2a2a;
    -fx-border-radius: 20;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

.command-received .title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/*
CommandBox
*/
.command-box {
    -fx-background-color: #fff;
    -fx-background-radius: 10;
    -fx-font-size: 20;
    -fx-text-fill: #2a2a2a;
    -fx-border-color: transparent;
}

/*
AB3 Default
*/
.background {
    -fx-background-color: derive(#1d1d1d, 20%);
    background-color: #383838; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-text-fill: #FFF;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 16pt;
    -fx-border-color: transparent;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #3a3a3a;
}

.list-cell {
    -fx-background-color: #3a3a3a;
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 10 20 10 20;
}

.list-cell:filled:even {
    -fx-background-color: #3a3a3a;
}

.list-cell:filled:odd {
    -fx-background-color: #3a3a3a;
}

.list-cell .label {
    -fx-text-fill: white;
}
.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}



/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: #303030;
    -fx-background-radius: 20;
    -fx-border-width: 1;
    -fx-border-style: solid solid solid solid;
    -fx-border-radius: 20;
    -fx-border-color: #4d4d4d;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

/*#commandTextField {
    -fx-background-color: #2f2f2f;
    -fx-background-radius: 20;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-text-fill: black;
}*/

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}



#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #359183;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.requirement-panel-container {
    -fx-max-width: 430px;
    -fx-min-width: 430px;
}

.requirement-panel {
    -fx-background-color: #3a3a3a;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, #1d1d1d, 20, 0.2, 0, 10);
}

.requirement-card {
   -fx-background-color: #303030;
   -fx-background-radius: 20;
   -fx-border-width: 1;
   -fx-border-style: solid;
   -fx-border-radius: 20;
   -fx-border-color: #4d4d4d;
   -fx-padding: 8px;
   -fx-max-width: 355px;
}

.requirement-card .inner {
    -fx-padding: 12px;
}

.requirement-card .inner .title {
    -fx-font-size: 18px !important;
    -fx-font-weight: bold;
    -fx-max-width: 260px;
}

.requirement-card .inner .code {
    -fx-text-fill: #f27c36;
    -fx-font-size: 18px !important;
    -fx-font-weight: bold;
    -fx-max-width: 260px;
}

.requirement-card-module-code {
    -fx-text-fill: #fff !important;
    -fx-font-weight: bold;
    -fx-background-color: #f27c36;
    -fx-background-radius: 3px;
    -fx-padding: 7px;
    -fx-border-insets: 7px 3px;
    -fx-background-insets: 7px 3px;
    -fx-font-size: 14px;
}

